<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/about.css}" />
</head>
<body>
	<section class = "center">
	

<font size="+5"><h3 style="color:gold">About Me</h3></font>
		<div th:if=${session.msg}>
			<h3 th:text="${session.msg}" style="color:rgb(255, 0, 0)"></h3>
   		
   		<div th:text="${@sessionUtilityBean.removeVerificationMessageFromSession()}"></div>
   		</div>
   		

	<br>	
	
    <nobr>
		<!--<img th:src="@{/image/teams.png}" alt="about" width="100" height="100">-->
    
    <img th:src="@{/image/Saif.jpeg}" alt="about" width="100" height="100">
    
  </nobr>
  <div class="about-container">
  <p>I am Md Saif from Bihar. Currently I am pursuing a B.Tech in CSIT at KL University with a specialization in Data Science.
	   I'm passionate about using creative and analytical skills to solve meaningful challenges.</p>
  </div>
  

</body>
</html>



